
<footer>
    <h3>Frame of time</h3>
    <img class="footer-logo" src="../../../assets/icons/logo.svg" alt="Logo del sitio. Tiene la forma de obturador de cámara.">

    <div class="redes-sociales">
        <a target="_blank" href="https://www.behance.net/matiasszostak"><img class="behance"
                src="../../../assets/icons/behance.svg" alt="Link a Behance"></a>
        <a target="_blank" href="https://www.linkedin.com/in/matias-szostak/"><img class="linkedin"
                src="../../../assets/icons/linkedin.svg" alt="Link a Linkedin"></a>
        <a target="_blank" href="https://www.instagram.com/matechaca/"><img class="instagram"
                src="../../../assets/icons/instagram.svg" alt="Link a Instagram"></a>
        <a target="_blank" href="https://www.eyeem.com/u/matiasszostak"><img class="eyeem" src="../../../assets/icons/eyeem.svg"
                alt="Link a Eyeem"></a>
        <a target="_blank" href="https://walink.co/7985cb"><img class="whatsapp" src="../../../assets/icons/whatsapp.svg"
                alt="Link a Whatsapp"></a>
    </div>

    <a routerLink="login"><h6>Admin Login</h6></a>
    <a routerLink="clientes"><h6>Lista clientes</h6></a>

</footer>