

<header class="header-index" id="home">

    <div class="slider">
        <div class="slide current">
            <div class="content">
                <h1>Frame of Time</h1>
                <p>Portfolio de proyectos fotográficos y audiovisuales por Matías Szostak.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Historias de Viajes</h1>
                <p>Toda fotografía es el marco de una historia. Acompañame en mis recorridos y conozca un poco de dónde salieron las fotos.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Fotografías Analógicas</h1>
                <p>La mayor parte de las fotografías son en fílmico de 35mm. Compra licencias en Eyeem o solicitame impresiones para decorar tu casa.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Producciones Fotográficas y Audiovisuales</h1>
                <p>¿Estás buscando retratar algún momento especial? Solicita tu presupuesto en la sección de contacto.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Proyectos Audiovisuales</h1>
                <p>Te invito a ver mis cortometrajes y proyectos interactivos. Por ahora, solo disponible en Behance.</p>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h1>Drone</h1>
                <p>Ahora también se incorporan servicios y proyectos con drone profesional. Consultame para tener vistas únicas.</p>
            </div>
        </div>

    </div>
    
    <div class="buttons">
        <button id="prev"><i class="fas fa-arrow-left"></i></button>
        <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>

</header>
