<section class="section-proyectos" id="proyectos">

    <h2>Proyectos</h2>

    <div class="proyectos-container">

        <div class="card" style="--i:url(../../../assets/img/card-chile.jpg)">
            <div class="card-screen">
                <a target="_blank" href="https://www.eyeem.com/p/186272372">
                    <div class="card-content">
                        <h3>Chile</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="card" style="--i:url(../../../assets/img/card-animales.jpg)">
            <div class="card-screen">
                <a target="_blank" href="https://www.flickr.com/photos/matechaca/49761585931/in/dateposted-public/">
                    <div class="card-content">
                        <h3>Animales</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="card" style="--i:url(../../../assets/img/card-israel-palestina.jpg)">
            <div class="card-screen">
                <a target="_blank" href="https://www.eyeem.com/p/186023933">
                    <div class="card-content">
                        <h3 class="card-title-israel">Israel</h3>
                        <h3 class="card-title-palestina">Palestina</h3>
                    </div>
                </a>
            </div>

        </div>
        <div class="card" style="--i:url(../../../assets/img/card-peru.jpg)">
            <div class="card-screen">
                <a target="_blank" href="https://www.flickr.com/photos/matechaca/49761725561/in/dateposted-public/">
                    <div class="card-content">
                        <h3>Peru</h3>
                    </div>
                </a>
            </div>
        </div>

    </div>


</section>